/**
 * __GAME__
 *
 * Définit le layout d'une page Game (<div class="game" />)
 */
.game {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  width: 100%;
}

.board {
  aspect-ratio: 1/1;
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
}