/**
 * __HEADER__
 *
 * Définit le layout de l'en-tête (<header />)
 */
@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;

.header {
  flex-direction: column;

  h1 {
    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &__scroll {
    @include m.sizes('biggest');

    margin-top: f.add-line(8);
  }
}

.nav {
  &__list {
    display: flex;
    list-style: none;
    padding: 0;
  }

  &__item:not(:last-child)::after {
    content: '|';
    padding: 0 1rem;
  }

  &__link {
    color: v.$color-grey;
    text-decoration: none;
    transition: color .3s linear;

    &.active,
    &:hover {
      color: v.$color-primary;
    }
  }
}
