/**
 * __BUTTON__
 *
 * Définit le style des boutons
 */
@use 'sass:color';
@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as f;

.button {
  @include m.sizes("small", 2);

  background: v.$color-white;
  border: 1px solid v.$color-light;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  padding: 0 1em;
  text-align: center;
  text-decoration: none;
  transition: all 0.25s ease-out;
  white-space: nowrap;

  &--center {
    margin: 0 auto;
  }

  &--primary {
    background: v.$color-primary;
    border-color: v.$color-primary;
    color: v.$color-white;

    &:not([disabled]):hover {
      background: color.scale(v.$color-primary, $lightness: -10%);
      border-color: color.scale(v.$color-primary, $lightness: -10%);
      color: v.$color-white;
    }
  }

  &--secondary {
    background: v.$color-secondary;
    border-color: v.$color-secondary;
    color: v.$color;

    &:not([disabled]):hover {
      background: color.scale(v.$color-secondary, $lightness: -10%);
      border-color: color.scale(v.$color-secondary, $lightness: -10%);
      color: v.$color;
    }
  }

  &--big {
    @include m.sizes("default", 2);

    padding: 1em 1.5em;
  }

  &[disabled] {
    cursor: default;
    opacity: 0.5;
  }
}

.buttons {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: f.add-line(3);
}
