@charset "UTF-8";

@use 'abstracts/summary';
@use 'abstracts/variables';
@use 'abstracts/mixins';
@use 'abstracts/functions';

@use 'vendors/reset';

@use 'base/fonts';
@use 'base/base';
@use 'base/typography';
@use 'base/helpers';

@use 'layout/grid';
@use 'layout/header';
@use 'layout/content';
@use 'layout/footer';

@use 'components/tic-tac-toe';
@use 'components/button';
@use 'components/modal';

// @use 'pages/home';
@use 'pages/game';

// @use 'themes/theme';
// @use 'themes/admin';
