/**
 * @output ./build/static/css/main.css
 *
 * Summary:
 *   __RESET__: Normalisation des styles natifs des navigateurs
 *   __FONTS__: Définition des polices de caractères
 *   __BASE__: Styles de base
 *   __TYPOGRAPHY__: Styles des titres et polices
 *   __HELPERS__: Styles globaux / généraux
 *   __GRID__: Mise en page du site
 *   __HEADER__: Style du header
 *   __MAIN__: Style du main
 *   __FOOTER__: Style du footer
 *   __TIC-TAC-TOE__: Style du jeu de Morpion
 *   __BUTTON__: Style des boutons
 *   __MODAL__: Style des fenêtres modales
 */
// Ce fichier a uniquement pour but de proposer un index
// pour le fichier publique `index.css` :
// pour naviguer vers une section,
// recherchez simplement le titre de celle-ci dans votre éditeur
