@use "functions" as fn;

// Breakpoints
$bp-large: 1024px;

// Colors
$color: #2f2d2e;
$color-primary: #048ba8;
$color-secondary: #fa0;
$color-success: #04a821;
$color-warning: #fa0;
$color-error: #ff2a00;

$color-white: #fff;
$color-black: #000;
$color-grey: #666;
$color-light: #ccc;
$color-lighter: #f6f6f6;

$color-test: #fab;

// Fonts
$font-serif: "Playfair Display", Georgia, serif;
$font-sans: "Source Sans Pro", Arial, sans-serif;
$font-code: "Source Code Pro", monospace;

// Others
$footer-height: fn.add-line(2);
